{% extends 'base.html' %}
{% block body %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">


<body>
<div class="products-feature">

  <div class="product-actions mobile"> <!-- different than product landing -->
    <!-- h6 included on product landing -->
    <!-- <h6>Adhesives</h6> -->
    <div class="product-actions__arrows">
      <a class="product-actions__arrows_single product-actions__arrows_single--disabled" href="#"><i class="material-icons">arrow_backward</i></a>
      <a class="product-actions__arrows_single" href="#"><i class="material-icons">arrow_forward</i></a>
    </div>
  </div>

  <div class="product-feature__row">
    <div class="grid-container carousel" data-flickity='{ "cellAlign": "left", "wrapAround": "true", "freeScroll": "true"}'>
      <!-- this product card is used on multiple templates but the first divs class changes columns depending on template -->

      <div class="three columns carousel-cell">
        <div class="product-card product-card--slide">
          <a class="product-card__link" href="#">
            <div class="product-card__content">
              <img src="https://images.containerstore.com/catalogimages/132237/PaintCanWithHandleSilverLg_x.jpg?width=1200&height=1200&align=center" alt=""/>
              <div class="product-card__content_brand">Sikaflex</div>
              <div class="product-card__content_title">Self Leveling sdfsdf sdfadf a sdfd Sealant</div>
              <div class="product-card__content_link">Product Details</div>
            </div>
          </a>
        </div>
      </div>


      <div class="three columns carousel-cell">
        <div class="product-card product-card--slide">
          <a class="product-card__link" href="#">
            <div class="product-card__content">
              <img src="https://images.containerstore.com/catalogimages/132237/PaintCanWithHandleSilverLg_x.jpg?width=1200&height=1200&align=center" alt=""/>
              <div class="product-card__content_brand">Sikaflex</div>
              <div class="product-card__content_title">Self Leveling Sealant</div>
              <div class="product-card__content_link">Product Details</div>
            </div>
          </a>
        </div>
      </div>


      <div class="three columns carousel-cell">
        <div class="product-card product-card--slide">
          <a class="product-card__link" href="#">
            <div class="product-card__content">
              <img src="https://images.containerstore.com/catalogimages/132237/PaintCanWithHandleSilverLg_x.jpg?width=1200&height=1200&align=center" alt=""/>
              <div class="product-card__content_brand">Sikaflex</div>
              <div class="product-card__content_title">Self Leveling Sealant</div>
              <div class="product-card__content_link">Product Details</div>
            </div>
          </a>
        </div>
      </div>

      <div class="three columns carousel-cell">
        <div class="product-card product-card--slide">
          <a class="product-card__link" href="#">
            <div class="product-card__content">
              <img src="https://images.containerstore.com/catalogimages/132237/PaintCanWithHandleSilverLg_x.jpg?width=1200&height=1200&align=center" alt=""/>
              <div class="product-card__content_brand">Sikaflex</div>
              <div class="product-card__content_title">Self Leveling Sealant</div>
              <div class="product-card__content_link">Product Details</div>
            </div>
          </a>
        </div>
      </div>

      <div class="three columns carousel-cell">
        <div class="product-card product-card--slide">
          <a class="product-card__link" href="#">
            <div class="product-card__content">
              <img src="https://images.containerstore.com/catalogimages/132237/PaintCanWithHandleSilverLg_x.jpg?width=1200&height=1200&align=center" alt=""/>
              <div class="product-card__content_brand">Sikaflex</div>
              <div class="product-card__content_title">Self Leveling Sealant</div>
              <div class="product-card__content_link">Product Details</div>
            </div>
          </a>
        </div>
      </div>

      <div class="three columns carousel-cell">
        <div class="product-card product-card--slide">
          <a class="product-card__link" href="#">
            <div class="product-card__content">
              <img src="https://images.containerstore.com/catalogimages/132237/PaintCanWithHandleSilverLg_x.jpg?width=1200&height=1200&align=center" alt=""/>
              <div class="product-card__content_brand">Sikaflex</div>
              <div class="product-card__content_title">Self Leveling Sealant</div>
              <div class="product-card__content_link">Product Details</div>
            </div>
          </a>
        </div>
      </div>

      <div class="three columns carousel-cell">
        <div class="product-card product-card--slide">
          <a class="product-card__link" href="#">
            <div class="product-card__content">
              <img src="https://images.containerstore.com/catalogimages/132237/PaintCanWithHandleSilverLg_x.jpg?width=1200&height=1200&align=center" alt=""/>
              <div class="product-card__content_brand">Sikaflex</div>
              <div class="product-card__content_title">Self Leveling Sealant</div>
              <div class="product-card__content_link">Product Details</div>
            </div>
          </a>
        </div>
      </div>
    </div><!-- end of grid-container -->
  </div>
</div>

<div class="product-actions desktop"> <!-- different than product landing -->
  <div class="product-actions__arrows">
    <a class="product-actions__arrows_single product-actions__arrows_single--disabled" href="#"><i class="material-icons">arrow_backward</i></a>
    <a class="product-actions__arrows_single" href="#"><i class="material-icons">arrow_forward</i></a>
  </div>
  <!-- the wrapper product actions and this div is included on product detail w/o the span -->
  <div class="product-actions__link">
    <span class="product-actions__link_line"></span>
    <a href="#">View All Products<img src="/themes/custom/sika_pro/assets/dist/img/yellow_arrow.svg" alt=""/></a>
  </div>
</div>
</body>

{% endblock %}
